{% extends 'base.html.twig' %}

{% block title_content%} Заявки  {% endblock %}

{% block content %}
    {% for task in tasks %}
        <p>
        <table>
            <tr>
                <th>   {{ task.title}} </th>

                {% if task.comparison == 'true' %}
                    <th> <font color="red">{{ task.description }}</font> </th>
                {% else%}
                    <th> {{ task.description}} </th>
                {%endif%}
                <th>
                    {{ task.state }}
                </th>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>
                        <button>  <a href="{{ path('app_redact', {'id':task.id}) }}">Редактировать</a></button>
                    </th>
                {%endif%}
            </tr>
        </table>
    {%endfor%}
{% endblock %}