
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сайт заявок</title>
    <link rel="stylesheet" href=" {{ asset('css/style.css')}}"/>
</head>
<body>
<header>

    <div class="header_logo">
        <a href="">Заявки онлайн</a>
    </div>
    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Главная</a></li>
            <li><a href="{{ path('app_task_new') }}">Добавить заявку</a></li>
            <li><a href="{{ path('app_task') }}">Заявки</a></li>
        </ul>
    </nav>

    {% if app.user %}
        <button class="green"> <a href="{{ path('app_logout') }}">Выйти</a></button>
    {% else %}
        <button class="green"> <a href="{{ path('app_login') }}">Войти</a></button>
    {% endif %}

</header>
<div class="center_block_main">
    <aside>
        <ul>

        </ul>
    </aside>
    <main>
        {% block title_content %}{% endblock %}
        {% block content %}{% endblock %}
    </main>

</div>
<div class="table_main">
</div>
<footer>FOOTER</footer>
</body>
</html>